/* Custom Stylesheet */
body{
  background-color: #f7eaf0;
}
.customfont{
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.load-more{
  text-align: center;
}
.button{
  margin-bottom: 40px;
  font-size: 2em;
}
.texth1 {
  background: rgba(0,0,0,0.5);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  z-index: 2;
  height: 200px;
  margin-top: 4%;
 padding-top: 3%;
}
/*image upload label*/
#form{
  margin: 30px auto 10px;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}



/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 310px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 