<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/nav.ejs')%> 

<!--content-->
    <div class="container center">
        <h4 class="light grey-text customfont" style="margin-top: 8%;">Page Not Found:)</h4>
    </div>
     
 
  <!--  Scripts-->
  <script src="./js/materialize.min.js"></script>
  <script src="./js/init.js" type="module"></script>
  </body>
</html>
