<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/nav.ejs')%>
   

<!--content-->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container texth1">
      <br><br>
      <h4 class="header center  white-text  customfont">Scrape🛰🛸</h4>
    </div> 
  </div>
  <div class="parallax"><img src="/img/Screenshot (104).png" alt="image" width="100%" height="20%" ></div>
</div>

    <div class="container">
        <h5 class="light black-text" style="font-size: 19px; font-family: 'Arial Narrow', Arial, sans-serif;">Scrape is a website that launches a social media site for you on a browser, for example:
        you may want to visit instagram bt you don't have an instagram app  then you can open Scrape then you choose instagram or any social
        media site like facebook then enter your account username then press "Scrape" button. The site will automatically redirect you to a browser with your instagram account open. Thiis is site is useful i have
        been using it for awhile. A chrome Extension have been developed for this site and it will be published soon. Visit the site by clicking the link below.  
        </h5><br>
        <h5 class="light customfont"><a href="https://scrape-metals.web.app/" target="_blank" rel="noopener noreferrer">Link to Scrape🛰🛸</a></h5>
    </div>
     <br><br><br><br><br>
    
     <script type="module">
    import{signout,onAuthStateChanged,auth}from '/fireConfig.js';
//logout
const logout=document.querySelector('.logout');
logout.addEventListener('click',()=>{
 signout()
})
const logout2=document.querySelector('.logout2');
      logout2.addEventListener('click',()=>{
        signout();
      })
//ui authentication
const loggedinLink=document.querySelectorAll('#logged-in')
const loggedoutLink=document.querySelectorAll('#logged-out')

const setupUI=(user)=>{
 if(user){
   loggedinLink.forEach(item=>item.style.display='block')
   loggedoutLink.forEach(item=>item.style.display='none')
 }else{
   loggedinLink.forEach(item=>item.style.display='none')
   loggedoutLink.forEach(item=>item.style.display='block')
 }
}
auth.onAuthStateChanged((user)=>{
//going to controll what users see if logged in or out
if(user){
//console.log('user is logged in', user)
 setupUI(user)
} else {
//console.log('user is logged outer',user)
setupUI()
}
})
   </script>
  <script src="./js/materialize.min.js"></script>
  <script src="./js/init.js" type="module"></script>
  <script src="/fireConfig.js" type="module"></script>
  </body>
</html>
